CONTENTSTACK_API_KEY=
CONTENTSTACK_DELIVERY_TOKEN=
CONTENTSTACK_ENVIRONMENT=
CONTENTSTACK_HOST=cdn.contentstack.io
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
API_PORT=4000
API_CONTENTSTACK_API_KEY=
API_CONTENTSTACK_DELIVERY_TOKEN=
API_CONTENTSTACK_ENVIRONMENT=
API_CONTENTSTACK_HOST=cdn.contentstack.io
API_TICKET_STORAGE=local

